:root {
    --pastel-pink: #ffb3ba; /* 파스텔 핑크 */
    --pastel-mint: #b3ffe0; /* 민트 그린 */

    --sky-blue: #a0d6e6; /* 하늘색 */
    --lavender: #e1bee7; /* 라벤더 */

    --baby-blue: #b3e5fc; /* 베이비 블루 */
    --peach: #ffccbc; /* 복숭아 */

    --pastel-yellow: #fff9c4; /* 파스텔 노랑 */
    --light-green: #c8e6c9; /* 연두색 */

    --mint: #b3ffe0; /* 민트 */
    --light-purple: #e1bee7; /* 라이트 퍼플 */

    --light-pink: #ffccdb; /* 연분홍 */
    --soft-gray: #d7ccc8; /* 소프트 그레이 */

    --pastel-orange: #ffe0b2; /* 파스텔 오렌지 */
    --ivory: #fffff0; /* 아이보리 */

    --lavender-light: #e1bee7; /* 라벤더 */
    --light-blue: #b3e5fc; /* 연청색 */

    --mint-light: #b3ffe0; /* 민트 */
    --light-brown: #d7ccc8; /* 연한 갈색 */

    --pastel-blue: #a0d6e6; /* 파스텔 블루 */
    --pastel-pink-2: #ffb3ba; /* 파스텔 핑크 */
}

.widget {
    max-width: 200px; /* Set your desired maximum width */
    max-height: 150px; /* Set your desired maximum height */
    overflow: auto; /* Add overflow to handle content that exceeds the max size */
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--pastel-gray);
}

.widget {
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
}

.widget:hover {
    transform: scale(1.05);
}

.personal {
    background-color: white;
    color: var(--pastel-pink); /* 글자 색을 파스텔 코랄로 변경 */
    border: 2px solid var(--pastel-mint); /* 테두리 색을 파스텔 코랄로 변경 */
}

.study {
    background-color: white; /* 배경색 없음 */
    border: 2px solid var(--sky-blue); /* 테두리 색을 파스텔 블루로 변경 */
    color: var(--lavender); /* 글자 색을 파스텔 그린으로 변경 */
}
.home {
    background-color: white;
    border: 2px solid var(--baby-blue);
    color: var(--peach);
}

.life {
    background-color: white;
    border: 2px solid var(--pastel-yellow);
    color: var(--light-green);
}

.work {
    background-color: white;
    border: 2px solid var(--light-purple);
    color: var(--light-pink);
}